<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sinowyde.DOP.Sama.Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sinowyde.DOP.Sama.Control.Properties.Settings>
            <setting name="SamaCommandPush" serializeAs="String">
                <value>tcp://127.0.0.1:9001</value>
            </setting>
            <setting name="SamaSubscribeCommand" serializeAs="String">
                <value>tcp://127.0.0.1:9003</value>
            </setting>
        </Sinowyde.DOP.Sama.Control.Properties.Settings>
    </userSettings>
</configuration>